certifi==2021.5.30
cffi @ file:///C:/ci/cffi_1625831763871/work
cycler==0.11.0
kiwisolver==1.3.1
matplotlib==3.3.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.19.5
olefile==0.46
Pillow==8.4.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyparsing==3.0.9
pyquaternion==0.9.9
python-dateutil==2.8.2
scipy==1.5.4
six @ file:///tmp/build/80754af9/six_1644875935023/work
torch==1.1.0
torchvision==0.3.0
wincertstore==0.2
